<div class="card m-2">
  <div class="row no-gutters">
    <div class="p-2">
      <img src="/uploads/{{ article.photos.[0] }}" style="width:125px; height:125px" class="card-img-top rounded" alt="{{ article.name }} photo">

    </div>
    <div class="col-md-10 m-auto">
      <div class="row justify-between">
        <div class="col-4">

          <h5 class="card-title mb-3">{{ article.name }}</h5>
          <p class="card-text">{{ article.description }}</p>


        </div>
        <div class="col-4 text-center px-5">

          <p>Publicado</p>
          <span>{{ article.createdAt }}</span>


        </div>
        <div class="col-4 text-center m-auto" style="width:20px">
          {{#isNotSold article}}
          <a href="/articles/{{ article.id }}/edit" class="card-link btn btn-outline-warning"><i class="fas fa-pencil-alt fa-2x text-warning"></i></a>
          {{/isNotSold }}
          <a href="/articles/{{ article.id }}/delete" class="card-link"><i class="far fa-trash-alt fa-2x btn btn-outline-danger"></i></a>
        </div>
      </div>
    </div>

  </div>

</div>