<div class="card p-1 mx-1 my-2 position-relative" style="max-width: 300px">
  <a href="/articles/{{ article.id }}" class="position-absolute" style="width:100%; height:100%; z-index:1"></a>
    <div>
      <img src="{{ article.photos.[0] }}" style="height:250px" class="card-img-top rounded" alt="{{ article.name }} photo">
    </div>
    <div class="card-body py-2 px-3">
      <div class="my-1 d-flex justify-content-between align-items-center">
        <h4 class="card-title font-weight-bold m-0">{{#if article.isAuction }}{{ article.priceAuction }} €{{else }}{{
          article.priceAppraiser }} €{{/if }}</h4>
        <div style="z-index: 10">
         {{!--  {{#isOwner session article }}
          <a href="/articles/{{ article.id }}/edit" class="card-link"><i class="fas fa-pencil-alt fa-2x text-warning"></i></a>
          <a href="/articles/{{ article.id }}/delete" class="card-link"><i class="far fa-trash-alt fa-2x"></i></a>
          {{else }} --}}
          <a class="card-link fav-btn"><i data-value="{{ article.id }}" class="far fa-heart fa-2x text-danger {{#isFavorite session article }} fav-selected {{/isFavorite }}"></i></a>
          {{!-- {{/isOwner }} --}}
        </div>
      </div>
      <h5 class="card-title mb-3">{{ article.name }}</h5>
      <p class="card-text">{{ article.description }}</p>
      <div class="text-right"><small>Categoría: <span class="font-weight-bold">{{ article.category }}</span></small></div>

     {{!--  A PARTIR DE AQUÏ ESTOY EXPERIMANTANDO PARA LAS SUBASTAS.... --}}
      {{#if article.isAuction }}
        <small class="text-secondary my-2">El artículo fue tasado en <span class="font-weight-bold">{{ article.priceAppraiser }} €</span></small>
        <p class="time-auction bid text-danger text-center my-2" data-article="{{ article.id }}"  data-auction="{{ article.dateOfAuction }}"></p>
        {{!-- <script>
          let time = Date("{{ article.dateOfAuction }}";
          console.log(time);
          let diff = Date.now() - time;
          // time = time.getTime();
          // console.log(`el articulo se puso a subasta el ${time}`)
          document.getElementById("time-auction").innerText = "{{ article.dateOfAuction }}";
        </script> --}}
      {{/if }}
    </div>
  {{!-- </a> --}}
</div>