<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4 class="display-5">Fitrar por:</h4>
    <form action="/articles/search" method="get">
      <div class="form-row">
        <div class="col-2">
          <input type="text" class="form-control" name="keyword" value="{{ fieldsForm.keyword }}"
            placeholder="Buscar...">
        </div>
        <div class="col-1">
          <input type="text" class="form-control" name="minPrice"
            value="{{#if fieldsForm.minPrice }}{{ fieldsForm.minPrice }}{{else }}0{{/if }}" placeholder="(€)MIN">
        </div>
        <div class="col-1">
          <input type="text" class="form-control" name="maxPrice"
            value="{{#if fieldsForm.maxPrice }}{{ fieldsForm.maxPrice }}{{else }}99999{{/if }}" placeholder="(€) MAX">
        </div>
        <div class="col-3">
          <select id="inputState" placeholder="Categoria..." name="category" class="form-control">
            <option selected>{{ fieldsForm.category }}</option>
            <option value=""></option>
            {{#each categories as |category| }}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {{/each }}
          </select>
        </div>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
      </div>
    </form>
  </div>
</div>