<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 input-group w-25">
      <div class="input-group-prepend nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-outline-success my-2 my-sm-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-list"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {{#each categories as |category|}}
          <a class="dropdown-item" href="#">{{ category.name }}</a>
          {{/each}}
        </div>
      </div>
      <input class="form-control my-2 my-sm-0" style="height: inherit" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </form>
    {{#if session }}
      <div>
        <a href="/articles/new" class="btn btn-lg btn-danger rounded-pill">
          <i class="fas fa-plus mx-1"></i>
          <span>Subir artículo</span>
        </a>
      </div>
    {{/if }}
    <div>
      <ul class="navbar-nav mr-auto align-items-baseline">
        {{#if session }}
          <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="/uploads/{{ session.profilePic }}" class="rounded-circle mx-1" style="width: 70px; height: 70px" alt="photo frofile">
              {{ session.email }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users/{{ session.id }}/edit">Perfil</a>
              <a class="dropdown-item" href="/users/{{ session.id }}/selling">Mis artículos</a>
              <a class="dropdown-item" href="#">Favoritos</a>
              <a class="dropdown-item" href="#">Mis compras</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Cerrar sesión</a>
            </div>
          </li>
          <li class="nav-item mx-2">
            <a href="/sessions/delete" class="nav-link"><span class="mx-2">Logout</span><i class="fas fa-sign-out-alt"></i></a>
          </li>
        {{else }}
          <li class="nav-item mx-2">
            <a href="/sessions/create" class="nav-link"><span class="mx-2">Login</span><i class="fas fa-sign-in-alt"></i></a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
