<div class="container details">
  <div class="media row">
    <img src="{{ article.photos }}" class="align-self-center mr-3 col-4" alt="...">
    <div class="media-body col-8">
      <div class="mt-0 row py-4">
        <label class="col-3">name: </label>
        <span class="col-9">{{ article.name }}</span>
      </div>
      <div class="row py-4">
        <label class="col-3">Price: </label>
        <span class="col-9">{{ article.price }}</span>
      </div>
      <div class="row mb-0 py-4">
        <label class="col-3">Description: </label>
        <span class="col-9">{{ article.description }}</span>
      </div>
      <div class="row mb-0 py-4">
        <label class="col-3">Seller: </label>
        <span><a href="/articles/{{ user.id }}" class="col-9">{{ user.name }}</a></span>
      </div>
    </div>
  </div>
  <div class="row justify-content-around">
    {{!-- <a class="my-5 font-weight-bold text-right btn btn-secondary" href="/celebrities">Back to celebrities list</a> --}}
    <a class="my-5 font-weight-bold text-right btn btn-secondary" href="/articles">Back to articles list</a>
  </div>
</div>