<h2 class="my-3">DETALLES DEL ARTÍCULO</h2>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="card p-1 mx-1 my-2 col-8">
      <div class="py-2 px-4 d-flex justify-content-between align-items-baseline">
        <a href="/articles/user/{{ article.owner }}">
          <img src="{{ article/owner.profilePic }}" class="rounded-circle mr-1" style="width: 70px; height: 70px" alt="photo frofile">
          <span>{{ article.owner.name }}</span>
        </a>
        <div>
          {{#isNotOwner session article }}
            {{#unless ../article.isAuction }}
              <a href="#" class="btn btn-primary rounded-pill mx-3" data-toggle="modal" data-target="#purchaseModal">
                <i class="fas fa-coins fa-2x mx-1 align-middle"></i>
                <span>Comprar</span>
              </a>
            {{else }}
             {{!--  {{#existBuyer ../article }} --}}
              <a href="#" class="btn btn-success rounded-pill mx-3 {{#isBidLeader ../session ../article.buyer }} disabled {{/isBidLeader }}" data-toggle="modal" data-target="#bidModal">
                <i class="fas fa-coins fa-2x mx-1 align-middle"></i>
                <span>Pujar</span>
              </a>
            {{!--   {{/existBuyer }} --}}
            {{/unless }}
            {{!-- <a class="card-link fav-btn"><i data-value="{{ article.id }}" class="far fa-heart fa-3x text-danger {{#isFavorite ../session ../article }} fav-selected {{/isFavorite }}"></i></a> --}}
            <a class="link fav-btn">
              <i data-value="{{ article.id }}" class="far fa-heart fa-3x text-danger align-middle {{#isFavorite ../session ../article }} fav-selected {{/isFavorite }}"></i>
            </a>
          {{/isNotOwner}}
        </div>
      </div>
      <div>
        <div id="carouselExampleIndicators" class="carousel slide px-3" data-ride="carousel">
          <ol class="carousel-indicators">
            {{#each article.photos as |photo| }}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{@index }}" class="{{#if @first }} active {{/if }}"></li>
            {{/each}}
          </ol>
          <div class="carousel-inner">
            {{#each article.photos as |photo| }}
            <div class="carousel-item {{#if @first }} active {{/if }}">
              <img src="{{ photo }}" class="d-block w-100 rounded" style="height:500px" alt="photo {{@index}}">
            </div>
            {{/each}}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="" aria-hidden="true"><i class="far fa-arrow-alt-circle-left fa-3x text-light"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="" aria-hidden="true"><i class="far fa-arrow-alt-circle-right fa-3x text-light"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="card-body py-2 px-4">
          {{#if article.isAuction }}
            <h4 class="card-title mb-3">{{ article.name }}</h4>
            <div class="my-1 d-flex justify-content-between align-items-center">
              <h3 class="card-title font-weight-bold m-0">{{ article.priceAuction }} €</h3>
              {{#existBuyer article }}
                {{#isBidLeader ../session ../article.buyer }}
                  <div>
                    <img src="{{ ../../article.buyer.profilePic }}" class="rounded-circle mx-1" style="width: 35px; height: 35px" alt="photo frofile">
                    <span class="text-success m-0">! ERES EL ACTUAL LIDER DE LA PUJA !<span>
                  </div>    
                {{else }}
                  <div>
                    <img src="{{ ../article.buyer.profilePic }}" class="rounded-circle mx-1" style="width: 35px; height: 35px" alt="photo frofile">
                    <p><span class="text-weight-bold">{{ ../article.buyer.name }}</span>es el actual lider de la puja</p>
                  </div>  
                {{/isBidLeader }}
              {{else }}
              <p>Aún nadie ha pujado por este artículo</p>
              {{/existBuyer }}
            </div>
            <small class="text-secondary my-2">El artículo fue tasado en <span class="font-weight-bold">{{ article.priceAppraiser }} €</span></small>
            <p class="time-auction text-danger text-center my-2" data-auction="{{ article.dateOfAuction }}"></p>
          {{else }}
            <div class="my-1 d-flex justify-content-between align-items-center">
              <h3 class="card-title font-weight-bold m-0">{{ article.priceAppraiser }} €</h3>
              {{#isOwner session article }}
                <div>
                  <a href="/articles/{{ article.id }}/edit" class="card-link"><i class="fas fa-pencil-alt fa-2x text-warning"></i></a>
                  <a href="/articles/{{ article.id }}/delete" class="card-link text-danger"><i class="far fa-trash-alt fa-2x"></i></a>
                </div>
              {{/isOwner }}
            </div>
            <h4 class="card-title mb-3">{{ article.name }}</h4>
            <small class="text-secondary">Categoría: <span class="font-weight-bold">{{ article.category }}</small>
            <hr>
            <p class="card-text">{{ article.description }}</p>
            <hr>
          {{/if }}
          <div>
            <input type="textbox" class="form-control col-12 mx-0" id="address" name="address" placeholder="Introduzca una dirección" value="{{ article.address }}" readonly disabled>          
            <div id="map" class="col-12 my-2 rounded" style="height:150px"></div>
          </div>
        </div>
        
        <div id='lat-lng'>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-map-marker"></i> </span>
            </div>
            <input type="text" id="latitude" class="form-control" name="latitude" value="{{ article.location.coordinates.[1] }}" placeholder="Latitude"/>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-map-marker"></i> </span>
            </div>
            <input type="text" id="longitude" class="form-control" name="longitude" value="{{ article.location.coordinates.[0] }}" placeholder="Longitude"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Aviso de compra</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Está a punto de adquirir <span class="font-weight-bold"> {{article.name }}</span> por un valor de <span
            class="font-weight-bold">{{ article.priceAppraiser }} €</span>.</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
        <form action="/articles/{{ article.id }}/buy" method="post">
          <button type="submit" class="btn btn-primary">Confirmar compra</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bidModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Aviso de puja</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="/articles/{{ article.id }}/bid" method="post">
      <div class="modal-body">
        <p>En estos momentos la subasta de <span class="font-weight-bold"> {{article.name }}</span> está en un valor de <span class="font-weight-bold">{{ article.priceAuction }} €</span>. ¿Cuánto deseas ofrecer?</p>
        <input class="form-control" type="text" name="bid" placeholder="Introduce una cantidad superior a {{ article.priceAuction }} €">
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
          <button type="submit" class="btn btn-primary">Confirmar puja</button>
        </form>
      </div>
    </div>
  </div>
</div