<h2 class="my-3"><center>Edita tu articulo</center></h2>

<div class="container my-5">
  <form action="/articles/{{ article.id }}/edit" method="post" enctype="multipart/form-data" {{!-- onKeypress="if(event.keyCode == 13) event.returnValue = false;" --}}>
    <div class="card">
      <div class="card-body">

        <input type="text" name="owner" value="{{ session.id }}" style="display: none">
       
        <div class="form-group py-2">
          <h5 for="formGroupExampleInput" class="font-weight-bold">Nombre: </h5>
          <input type="text" class="form-control {{#if errors.name }} is-invalid {{/if}}" id="formGroupExampleInput" name="name" placeholder="Dale un nombre" value="{{ article.name }}">
          {{#if errors.name }} <div class="invalid-feedback">{{ errors.name }}</div> {{/if}}
        </div>

        <div class="form-group py-2">
          {{#if article.isPriced }}
            <h5 for="formGroupExampleInput" class="font-weight-bold">Precio tasado: </h5>
            <input type="text" class="form-control" id="formGroupExampleInput" name="priceAppraiser" placeholder="" value="{{ article.priceAppraiser }}" readonly disabled>
          {{else }}
            <h5 for="formGroupExampleInput" class="font-weight-bold">Precio al que te gustaría venderlo: </h5>
            <input type="text" class="form-control {{#if errors.priceSeller }} is-invalid {{/if}}" id="formGroupExampleInput" name="priceSeller" placeholder="Ponle un precio" value="{{ article.priceSeller }}">
            {{#if errors.priceSeller }} <div class="invalid-feedback">{{ errors.priceSeller }}</div> {{/if}}
          {{/if }}
        </div>
       
        <div class="form-group py-2">
          {{#if article.isPriced }}
            <h5 for="formGroupExampleInput" class="font-weight-bold">Englobado en la categoría de: </h5>
            <input type="text" class="form-control" id="formGroupExampleInput" name="category" placeholder="" value="{{ article.category }}" readonly disabled>
          {{else }}
            <h5 for="formGroupExampleInput" class="font-weight-bold">Seleccione la categoría a la que corresponde: </h5>
            <select class="custom-select {{#if errors.category }} is-invalid {{/if}}" name="category" id="inputGroupSelect01" placeholder="Elija categoría...">
              <option value="" selected disabled>{{ article.category }}</option>
              {{#each categories as |category| }}
                <option value="{{ category.id }}">{{ category.name }}</option>
              {{/each }}
            </select>
            {{#if errors.category }} <div class="invalid-feedback">{{ errors.category }}</div> {{/if}}
          {{/if }}
        </div>

        <div class="form-group py-2">
          <h5 for="formGroupExampleInput" class="font-weight-bold">Descripción: </h5>
          <textarea class="form-control {{#if errors.description }} is-invalid {{/if}}" id="exampleFormControlTextarea1" name="description" rows="4" placeholder="Describe el artículo">{{ article.description }}</textarea>
          {{#if errors.description }} <div class="invalid-feedback">{{ errors.description }}</div> {{/if}}
        </div>

        <div class="form-group py-2">
          <h5 for="formGroupExampleInput" class="font-weight-bold">Estado de conservación: </h5>
          {{#if article.isPriced }}
            <input type="text" class="form-control" id="formGroupExampleInput" name="condition" placeholder="" value="{{ article.condition }}" readonly disabled>
          {{else }}
            <select class="custom-select {{#if errors.condition }} is-invalid {{/if}}" name="condition" id="inputGroupSelect02" value="{{ article.condition }}">
              <option value="" selected disabled>Estado de conservación ...</option>
              {{#each conditions as |condition| }}
                <option value="{{ condition }}">{{ condition }}</option>
              {{/each }}
            </select>
            {{#if errors.condition }} <div class="invalid-feedback">{{ errors.condition }}</div> {{/if}}
          {{/if }}
        </div>

        <div class="form-group py-2">
          <h5 for="formGroupExampleInput" class="font-weight-bold">Cambie si desea las fotos del artículo: </h5>
             <div class="row">
              {{#each article.photos as |photo|}}
                <div class="col-3 p-3">
                  <img class="rounded" src="/uploads/{{ photo }}" alt="photo article" style="width:200px; height:200px">   
                </div>
              {{/each }}
            </div>
          <input name="photos" type="file" class="form-control-file mb-2 " id="photos" accept="image/jpeg" multiple>
        </div>

        <div class="form-group py-2">
          <h5 for="formGroupExampleInput" class="font-weight-bold">Ubicación del artículo: </h5>
          <div class="row justify-content-center" style="margin: inherit">
            <input type="textbox" class="form-control col-6 mx-2" id="address" name="address" placeholder="Introduzca una dirección" value="{{ article.address }}">
            {{!-- <input type="button" class="col-2 btn btn-secondary mx-2" id="btn-update-address" value="Actualizar" onclick="codeAddress()"> --}}
            <div id="map" class="col-6 m-2 rounded"></div>
          </div>
          <div id='lat-lng'>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
              </div>
              <input type="text" id="latitude" class="form-control" name="latitude" value="{{ article.location.coordinates.[1] }}" placeholder="Latitude"/>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
              </div>
              <input type="text" id="longitude" class="form-control" name="longitude" value="{{ article.location.coordinates.[0] }}" placeholder="Longitude"/>
            </div>
          </div>
        </div>
      
      </div>
      <button type="submit" class="col-6 offset-6 mx-auto btn btn-lg btn-danger my-3 rounded-pill my-2">Actualizar información</button>
    </div>
  </form>
</div>
