<h2>BUSQUEDA DE ARTICULOS</h2>

  <form action="/articles/filtered" method="post">
    <div class="form-row">
      <div class="col-2">
        <input type="text" class="form-control" name="keyword" value="{{ fieldsForm.keyword }}" placeholder="Buscar...">
      </div>
      <div class="col-1">
        <input type="text" class="form-control" name="minPrice" value="{{#if fieldsForm.minPrice }}{{ fieldsForm.minPrice }}{{else }}0{{/if }}" placeholder="(€)MIN">
      </div>
      <div class="col-1">
        <input type="text" class="form-control" name="maxPrice" value="{{#if fieldsForm.maxPrice }}{{ fieldsForm.maxPrice }}{{else }}99999{{/if }}" placeholder="(€) MAX">
      </div>
      <div class="col-3">
        <select id="inputState" placeholder="Category..." name="category" class="form-control">
          <option selected>{{ fieldsForm.category }}</option>
          <option value=""></option>
          {{#each categories as |category| }}
            <option value="{{ category.id }}">{{ category.name }}</option>
          {{/each }}
        </select>
      </div>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
    </div>
  </form> 


{{!-- <div class="row my-5">
    <div class="col-5"><a href="/articles/search">EN VENTA</a></div>
    <div class="col-5"><a href="/articles/{{ session.id }}/...........">EN SUBASTA</a></div>
  </div> --}}

{{> navArticles}}

{{!-- <ul class="list-group mt-5">
  {{#each articles as |article|}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
     <div class="row">
       <div class="col-3">
         <img src="/uploads/{{ article.photos }}" class="w-100" alt="photo article">
       </div>
       <div class="col-8 mx-3">
        <p>{{ article.name }}<span class="badge badge-primary mx-3">{{ article.priceAppraiser }}</span></p>
        <p>Category: {{ article.category }}</p>
        <p>{{ article.description }}</p>
        <a href="/articles/{{ article.id }}">Ver detalle</a>
       </div>
      </div> 
    </li>
  {{/each}}
</ul> --}}

{{!-- <div class="col-12 card-group justify-content-center">
    {{#each articles as |article|}}

      <div class="card-deck text-center m-4 col-sm-2 shadow align-content-center">
        <img src="{{ article.photo.[0] }}" class="card-img-top h-50" alt=" {{ article.name }} photo">
      <div class="card-body">
          <h4 class="card-title"><a href="/articles/{{ article.id }}">{{ article.name }}</a></h4>
          <div class="row justify-content-around">
            <a href="/articles/{{ article.id }}/article" class="btn btn-info col-4 .offset-1">Edit</a>
              <form action="/articles/{{ article.id }}/delete" method="POST" class="col-4 .offset-1 p-0">
                <button class="btn btn-danger w-100" type="submit">Delete</button>
              </form>
          </div>
        </div>
      </div>

 {{/each}}
  </div>
</div> --}}
{{!-- <div class="card-group justify-content-center container-fluid">
  <div class="row">
    {{#each articles as |article| }}
      {{> cardArticle article=article }}
    {{/each }}
  </div>
</div> --}}



{{!-- <div class="card-deck">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div> --}}

<div class="container-fluid">
  <div class="card-columns row justify-content-center">
    {{#each articles as |article|}}
      {{> cardArticle article=article }}
    {{/each}}
  </div>
</div>

  
