<div class="cointainer">
  <h1 class="my-2">MIS ARTICULOS EN VENTA</h1>
  <div>
    <a href="/articles/new" class="btn btn-primary my-5">SUBIR UN NUEVO ARTÍCULO</a>
  </div>
  {{!-- <div class="row">
    <div class="col-3"><a href="/users/{{ session.id }}/selling">EN VENTA</a></div>
    <div class="col-3"><a href="/users/{{ session.id }}/...........">EN SUBASTA</a></div>
    <div class="col-3"><a href="/users/{{ session.id }}/sold">VENDIDOS</a></div>
    <div class="col-3"><a href="/users/{{ session.id }}/pricing">PENDIENTES DE TASAR</a></div>
  </div> --}}

  {{> navArticlesUser }}

  {{!-- <ul class="list-group mt-5">
    {{#each articles as |article|}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="row">
        <div class="col-3">
          <img src="/uploads/{{ article.photos }}" class="w-100" alt="photo article">
        </div>
        <div class="col-8 mx-3">
          <p>{{ article.name }}<span class="badge badge-primary">{{ article.price }}</span></p>
          <p>{{ article.description }}</p>
          <a href="/articles/{{ article.id }}" class="my-4">Ver detalle</a>
          <form action="/articles/{{ article.id }}/delete" method="post">
            <button class="btn btn-warning mx-2" type="submit">Eliminar</button>
          </form>
          <a href="/articles/{{ article.id }}/edit" class="btn btn-info my-2" type="submit">Editar</a>
        </div>
      </div>
    </li>
    {{/each}}
  </ul> --}}
</div>

<div class="container">


  <div class="card-columns row justify-content-center">

    <a href="/articles/new" class="card m-2">
      <div class="row no-gutters">
        <div class="p-2">
          <div style="width:125px; height:125px; background:powderblue" class="card-img-top rounded new-icon" alt="{{ article.name }} photo">
            <div style="width:100%; height:100%; position:relative"><i style="position:absolute; left:25%; top:25%;" class="fas fa-plus-circle fa-4x text-info"></i></div>
          </div>
        </div>
        <div class="col-md-10 m-auto">
          <h2 class="text-center">Subir un producto más a mi catálogo</h2>
        </div>
      </div>
    </a>

    {{#each articles as |article| }}
      {{> cardArticleOwn session=../session article=article }}
    {{/each}}
  </div>
</div>