<h2>LISTADO DE FAVORITOS</h2>

<ul class="list-group mt-5">
  {{#each favorites as |favorite|}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
     <div class="row">
       <div class="col-3">
         <img src="/uploads/{{ favorite.photos }}" class="w-100" alt="photo favorite">
       </div>
       <div class="col-8 mx-3">
        <p>{{ favorite.name }}<span class="badge badge-primary mx-3">{{ favorite.price }}</span></p>
        <p>{{ favorite.description }}</p>
        <a href="/articles/{{ favorite.id }}">Ver detalle</a>
       </div>
      </div> 
    </li>
  {{/each}}
</ul>